
.btn {
    border: none;
    margin: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;

}


.success:hover {background-color: Grey;}
.info:hover {background: Grey;}
.warning:hover {background: Grey;}
.danger:hover {background: Grey;}
.default:hover {background: Grey;}
